@import "compass";
@import "bootstrap";

h1{
	color: $brand-primary;
}

.headernav{
	a{	
		text-align: right;
		float: left;
		color: $gray-light;
		text-decoration: none;
		display: block;
		margin: 20px;
	}
	a:hover{
		color: $brand-primary;
		text-decoration: none;
	}
}