@import "compass";
@import "bootstrap";

body{
	 background-image: image-url('img/background.jpg');
	 background-size: cover;
}

h1{
	color: $brand-primary;
}

.headernav{

	a{	
		float: right;
		color: $gray-light;
		text-decoration: none;
		display: block;
		margin: 20px;
	}
	a:hover{
		color: $brand-primary;
		text-decoration: none;
	}
}
.header-unit {
  	height: 70%;
  	border-right:none;
  	border-left: none;
  	position: absolute;
  	top:65px;
	left:0%;
	width:100%;
}
#video-container {
	position: absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}
video {
	position:absolute;
	z-index:0;
	min-width: 100%;
}


#videocontent{
	z-index: 40;
	margin: auto;
	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	text-align: center;
	button{
		background-color: #4a91d4;
		color: white;
		padding: 10px;
		margin: 20px;
		width: 15%;
		border: none;
		cursor: pointer;
		display: inline-block;
		outline: none;
		position: relative;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;		
	}
	button:hover{
		background-color: #437fb7;
		width: 21%;
	}
	h1{
		margin: auto;
		margin-top: 20%;
		z-index: 80;
		color: white;
	}
}



#searchbar{
	background-color: white;
	position: absolute;
	margin: 0px;
	#search-input{
		line-height: normal;
		border: 0;
		width: 100%;
		margin: 0px;
		padding: 0.85em 0 0.75em 1.5em;
		color: #000;
		font-size: 2.15em;
		outline: none;
		background: inherit;
		box-sizing: border-box;
		-webkit-appearance: textfield;
		-webkit-rtl-ordering: logical;
		-webkit-user-select: text;
		cursor: auto;
	}
}