@import "compass";
@import "bootstrap";

h1{
	color: $brand-primary;
}

.headernav{
	a{	
		text-align: right;
		float: left;
		color: $gray-light;
		text-decoration: none;
		display: block;
		margin: 20px;
	}
	a:hover{
		color: $brand-primary;
		text-decoration: none;
	}
}

#videobackground, #videooverlay{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 65px;
	position: absolute;
	z-index: -20;
}

#videooverlay {
	z-index: 20;
	background: rgba(0,0,0,1); /*partially transparent image*/ 
}


#videocontent{
	z-index: 40;
	text-align: center;
}

#videotitle{
	margin-top: 300px;
	color: white;
}

#searchbar{
	text-align: center;
}